div {
    background-color: orange;
    color: brown;
}

div {
    color: blue;
    border: 2px dotted green;
    margin: 15px;
}

h3,
h4,
h5 {
    font-size: 20px;
}

.textSmall {
    font-size: 5px;
}

.textYellow {
    color: yellow;
    background-color: black;
}

.textSmall.textYellow{
    text-transform: uppercase;
    font-size: 30px;
}

div p strong {
    font-size: 30px;
}
ul.menu li.active{
    background-color: yellow;
    color: black;
}

#mainSection{
    background-color: aquamarine;
}