a {
    color: green;
}

a:visited {
    color: green;
}
a:hover {
    text-decoration: none;
    background-color: yellow;
}
a:active {
    color: red;
}

p:hover{
    border: 1px solid grey;
}


table{
    border: 1px solid red;
    border-collapse: collapse;
    width: 100%;
}
table td {
    border: 1px solid blue;
    
}
table th {
    border: 1px solid orange;
}


table tbody tr:hover{
    background-color: yellow;
}

/*
body{
   background-color: #ccc;
    background-image: url(https://img.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg?size=626&ext=jpg);
    background-repeat: repeat;

}

p{
    visibility: hidden;
}*/

img{
    position: fixed;
    top: 10px;
    right: 10px;
}